{% extends "memedex_theme/base.jinja" %}

{% block mount %}
<script type="module">
import * as Vue from "vue"
import { createPinia } from "pinia"

import SigninPage from "memedex/pages/signin-page"

document.addEventListener("DOMContentLoaded", () => {
  const element = document.querySelector("#signin");
  if (element !== null) {
  	const pinia = createPinia()
    const app = Vue.createApp({
	  template: `
	    <signin-page></signin-page>
	  `,
	});

    // register your components
	app.component('signin-page', SigninPage)
	app.use(pinia);
	window.pinia = pinia;

    app.mount("#signin");
  }
});
</script>
{% endblock %}

{% block content %}
<div id="signin">
</div>

{% endblock %}
