{% extends "memedex_theme/base.jinja" %}

{% block mount %}
<script type="module">
import * as Vue from "vue"
import GalleryPage from "memedex/pages/gallery-page"

document.addEventListener("DOMContentLoaded", () => {
  const element = document.querySelector("#gallery");
  if (element !== null) {
    const app = Vue.createApp({
	  template: `
	    <gallery-page></gallery-page>
	  `,
	});

    // register your components
	app.component('gallery-page', GalleryPage)

    app.mount("#gallery");
  }
});
</script>
{% endblock %}

{% block content %}
<div id="gallery">
</div>

{% endblock %}

